### RATES
RATES_SOURCE1=C:\Recon\RATES_SOURCE1
RATES_SOURCE2=C:\Recon\RATES_SOURCE2
RATES_SOURCE3=C:\Recon\RATES_SOURCE3
RATES_DESTINATION=C:\Recon\RATES_DESTINATION
RATES_DTCC=C:\Recon\RATES_DTCC

### FX
FX_SOURCE1=C:\Recon\FX_SOURCE1
FX_DESTINATION=C:\Recon\FX_DESTINATION
FX_DTCC=C:\Recon\FX_DTCC
FX_OKFILE=Some_Ok_File_name.txt.ADAM
