### RATES
Rates_SOURCE1=C:\Recon\source-data\Rates\TradeRepository\||Rates_Optimized_Position_Report_US-YYYYMMDD*.csv||SAME
Rates_SOURCE2=C:\Recon\source-data\Rates\TradeRepository\||CME_IRD_YYYYMMDD*.csv||YYYYMMDDReportData
Rates_SOURCE3=C:\Recon\source-data\Rates\Internal\||DFA_IRD_Positions_YYYYMMDD*.csv||SAME
Rates_SOURCE4=C:\Recon\source-data\Rates\Internal\||bondforwardYYYYMMDD*.csv||SAME
Rates_DESTINATION=C:\Recon\RATES_DESTINATION\||Rates_Optimized_Position_Report_US-YYYYMMDD

### FX
FX_SOURCE1=C:\Recon\source-data\FX\TradeRepository\||ENHANCED_POSITION_REPORT_FX-YYYYMMDD*.csv||SAME
FX_SOURCE2=C:\Recon\source-data\FX\Internal\||MXG_FX_YYYYMMDD.csv||01_Murex_FX_Valuation
FX_SOURCE3=C:\Recon\source-data\FX\Internal\||WSS_FX_YYYYMMDD.csv||01_Wallstreet_FX_Valuation
FX_SOURCE4=C:\Recon\source-data\FX\Internal\||BMORegRep_FXFwd_YYYYMMDD*.csv||SAME
FX_SOURCE5=C:\Recon\source-data\FX\Internal\||BMORegRep_FXInv_YYYYMMDD.csv||SAME
FX_SOURCE6=C:\Recon\source-data\FX\Internal\||DFA_IRD_Positions_YYYYMMDD.csv||SAME
FX_DESTINATION=C:\Recon\FX_DESTINATION\||Enhanced_Position_Report_FX_US.OK

### Equities
Equities_SOURCE1=C:\Recon\source-data\Equities\TradeRepository\||DTCC_EQ_YYYYMMDD*.csv||Consolidated_Position_Report_US-YYYYMMDD
Equities_SOURCE2=C:\Recon\source-data\Equities\Internal\||imagine_reg_recon_YYYYMMDD.csv||SAME
Equities_SOURCE3=C:\Recon\source-data\Equities\Internal\||BMORegRep_EqOpt_YYYYMMDD.csv||SAME
Equities_SOURCE4=C:\Recon\source-data\Equities\Internal\||DTCC_MA_Reconciliation_YYYYMMDD.csv||SAME
Equities_DESTINATION=C:\Recon\Equities_DESTINATION\||Consolidated_Position_Report_US.OK

### Commodities
Commodities_SOURCE1=C:\Recon\source-data\Equities\TradeRepository\||DTCC_EQ_YYYYMMDD*.csv||Consolidated_Position_Report_US-YYYYMMDD
Commodities_SOURCE2=C:\Recon\source-data\Equities\Internal\||imagine_reg_recon_YYYYMMDD.csv||SAME
Commodities_DESTINATION=C:\Recon\Commodity_DESTINATION\||Enhanced_Position_Report_Commodities_US.OK
